body {
  font-family: "Raleway", sans-serif;
}
h3 {
  text-align: center;
}
.completeBar {
  width: 100%;

  margin: 0px 2px;
  display: flex;
  flex-direction: column;
  transition: all 300ms ease-in-out;

  font-weight: bold;
  text-align: center;
}
.bar {
  width: 100%;
  background-color: rgb(103, 109, 177);
  margin: 0px 2px;
  display: flex;
  flex-direction: column;
  transition: all 300ms ease-in-out;
  color: white;
  font-weight: bold;
  text-align: center;

  padding-top: 20px;
}
.active {
  background-color: rgb(179, 35, 47);
}

.active1 {
  background-color: #1fa91f;
}

.allBars {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  transition: all 300ms ease-in-out;
}

.inputRange {
  width: 20vw;

  margin: auto;

  margin-top: 80px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .inputRange {
    width: 60vw;
  }
}

body {
  background-color: #212121;
  color: white;
}

.sorting {
  background-color: #2a2929;
  width: 80vw;
  margin: auto;
  padding: 50px 80px;
  border-radius: 50px;

  @include breakpoint-down(large) {
    padding: 50px 50px;
  }

  @include breakpoint-down(medium) {
    width: 85vw;
    padding: 30px 20px;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    button {
      border: none;
      background-color: rgb(39, 47, 132);
      color: white;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      font-family: "Raleway", sans-serif;
      cursor: pointer;
      margin-right: 20px;
      margin-top: 20px;
      border-radius: 5px;
      transition: all 200ms ease-in-out;

      @include breakpoint-down(medium) {
        font-size: 14px;
        margin-right: 10px;
        padding: 8px 14px;
      }
    }
    button:hover {
      /* opacity: 0.7; */
      background-color: rgb(14, 16, 43);
    }
  }
}
